<div class="ads-grid_shop" style="margin-bottom: 100px;" >
    <div class="shop_inner_inf">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider">
               
                    <ul class="slides">
                       <% data?.images?.forEach((image)=>{ %>

                       
                        <li data-thumb="/images/uploads/<%=image%>">
                            <div class="thumb-image"> <img src="/images/uploads/<%=image%>" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                   <% }) %>
                       
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

      
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3><%=data?.productname -%></h3>
            <p><span class="item_price">₹<%=data?.price -%></span>
                <del></del>
            </p>

            <p><%=data?.description-%></p>
            <div class="rating1">
                <ul class="stars">
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                </ul>
               
            </div>
           

            <div class="color-quality" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="color-quality-right">
                    <h5>Quantity :</h5>
                    <% if(data?.stock!=0){ %>

                   
                    <div class="quantity">
                        <h1 id="out-of-stock" style="display: none;color: red;">Out Of Stock</h1>
                        <div class="quantity-select">
                            <div class="entry value-minus" id="dec-btn"  >&nbsp;</div>
                            <div class="entry value" id="inputQuantity"><span>1</span></div>
                            <div class="entry value-plus active" id="inc-btn" >&nbsp;</div>
                        </div>

                        <% } %>
                    </div>
                </div>
            </div>
            <input type="text" id="stock" value="<%=data?.stock %>" name="" id="" hidden>
            <% if(data?.stock===0){ %>
                <h2 style="color: red;">Out of Stock</h2>
            <% } %>

            <div class="occasion-cart">
                <div class="shoe single-item single_page_b">
                    <div >
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="shoe_item" value="Chikku Loafers">
                        <input type="hidden" name="amount" value="405.00">
                        <input type="submit" id="addtocart" name="submit" value="Add to cart" class="button add">

                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                    </div>

                </div>

            </div>

            <ul class="social-nav model-3d-0 footer-social social single_page">
                <li class="share">Share On : </li>
                <li>
                    <a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a>
                </li>
            </ul>

        </div>

        
        <div class="clearfix"></div>
        <!--/tabs-->
        <div class="responsive_tabs" >
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Description</li>
                    <li>Reviews</li>
                    <li>Information</li>
                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">

                        <div class="single_page">
                            <h6>Lorem ipsum dolor sit amet</h6>
                            <p><%= data?.description %></p>
                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                magna aliqua.</p>
                        </div>
                    </div>
                    <!--//tab_one-->
                    <div class="tab2">

                        <div class="single_page">
                            <div class="bootstrap-tab-text-grids">
                                <div class="bootstrap-tab-text-grid">
                                    <div class="bootstrap-tab-text-grid-left">
                                        <img src="images/t1.jpg" alt=" " class="img-responsive">
                                    </div>
                                    <div class="bootstrap-tab-text-grid-right">
                                        <ul>
                                            <li><a href="#">Admin</a></li>
                                            <li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget.Ut enim ad minima veniam,
                                            quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                                            autem vel eum iure reprehenderit.</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="add-review">
                                    <h4>add a review</h4>
                                    <form action="#" method="post">
                                        <input type="text" name="Name" required="Name">
                                        <input type="email" name="Email" required="Email">
                                        <textarea name="Message" required=""></textarea>
                                        <input type="submit" value="SEND">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab3">

                        <div class="single_page">
                            <h6>Shoe Rock Vision(SRV) Sneakers (Blue)</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                magna aliqua.</p>
                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//tabs-->
        <!-- /new_arrivals -->

        <!-- <div class="new_arrivals">
            <h3>Featured Products</h3>
           
            <div class="col-md-3 product-men women_two">
                <div class="product-shoe-info shoe">
                    <div class="men-pro-item">
                        <div class="men-thumb-item">
                            <img src="images/s4.jpg" alt="no image">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="single.html">Shuberry Heels </a>
                            </h4>
                            <div class="info-product-price">
                                <div class="grid_meta">
                                    <div class="product_price">
                                        <div class="grid-price ">
                                            <span class="money ">$575.00</span>
                                        </div>
                                    </div>
                                    <ul class="stars">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shoe single-item hvr-outline-out">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="shoe_item" value="Shuberry Heels">
                                        <input type="hidden" name="amount" value="575.00">
                                        <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-men women_two">
                <div class="product-shoe-info shoe">
                    <div class="men-pro-item">
                        <div class="men-thumb-item">
                            <img src="images/s5.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="single.html">Red Bellies </a>
                            </h4>
                            <div class="info-product-price">
                                <div class="grid_meta">
                                    <div class="product_price">
                                        <div class="grid-price ">
                                            <span class="money ">$325.00</span>
                                        </div>
                                    </div>
                                    <ul class="stars">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shoe single-item hvr-outline-out">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="shoe_item" value="Red Bellies">
                                        <input type="hidden" name="amount" value="325.00">
                                        <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-men women_two">
                <div class="product-shoe-info shoe">
                    <div class="men-pro-item">
                        <div class="men-thumb-item">
                            <img src="images/s7.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="single.html">Running Shoes</a>
                            </h4>
                            <div class="info-product-price">
                                <div class="grid_meta">
                                    <div class="product_price">
                                        <div class="grid-price ">
                                            <span class="money ">$875.00</span>
                                        </div>
                                    </div>
                                    <ul class="stars">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shoe single-item hvr-outline-out">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="shoe_item" value="Running Shoes">
                                        <input type="hidden" name="amount" value="875.00">
                                        <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 product-men women_two">
                <div class="product-shoe-info shoe">
                    <div class="men-pro-item">
                        <div class="men-thumb-item">
                            <img src="images/s8.jpg" alt="">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="single.html">Sukun Casuals</a>
                            </h4>
                            <div class="info-product-price">
                                <div class="grid_meta">
                                    <div class="product_price">
                                        <div class="grid-price ">
                                            <span class="money ">$505.00</span>
                                        </div>
                                    </div>
                                    <ul class="stars">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shoe single-item hvr-outline-out">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="shoe_item" value="Sukun Casuals">
                                        <input type="hidden" name="amount" value="505.00">
                                        <button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>

                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div> -->

        <!--//new_arrivals-->


    </div>
</div>


<!-- <div class="mid_slider_w3lsagile">
    <div class="col-md-3 mid_slider_text">
        <h5>Some More Shoes</h5>
    </div>
    <div class="col-md-9 mid_slider_info">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
           
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g5.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g6.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g1.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g2.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g3.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                            <div class="thumbnail"><img src="images/g4.jpg" alt="Image" style="max-width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
          

        </div>
    </div> 
</div> -->


    <div class="clearfix"> </div>

 
    <script>


       
        //Quantity
        const displayCount = document.getElementById("inputQuantity");
        const decBtn = document.querySelector("#dec-btn")
        const incBtn = document.querySelector("#inc-btn")
        const inputQuantity=document.querySelector('#inputQuantity')
        const stock=document.querySelector('#stock')
        const quantitySelect=document.querySelector('.quantity-select')
        const outOfStock=document.querySelector('#out-of-stock')

        let qty;
   


        incBtn.addEventListener('click',()=>{
        
            console.log(inputQuantity)
            qty=inputQuantity.textContent
            console.log(qty,stock.value)
            if(Number(qty)>=Number(stock.value)){
            
                
        }
        })

          incBtn.addEventListener("click", () => {
            if(Number(qty)>=Number(stock.value)){
                return 
                
        }
            if (displayCount.innerText < 10) displayCount.innerText++
            
        })
    
        decBtn.addEventListener("click", () => {
           
            if (displayCount.innerText > 1) displayCount.innerText--
        })
    
    const myButton = document.getElementById("addtocart");
    myButton.addEventListener("click", function (e) {
      console.log("clicked")
      fetch("/add-to-cart", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ productId:"<%= data._id %>",quantity:displayCount.textContent }),
      })
        .then((response)=>{
            console.log(response)
           if(response?.status===200){
            // console.log('success')
            // let cartCount=document.querySelector('#cart-icon-nav')
            // cartCount.textContent="hello"
            // console.log(document.getElementById('cart-icon-nav'))
            window.location.href='http://localhost:5000/get-cart'

            
           }else{
            console.log('failed')
           }
        })

        .catch((error) => console.error(error));
    });

    </script>